<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h3>
      	<%= link_to league_logo, root_path %></td>
        
        <!-- gravatar_for @admin %> -->
      </h3>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <h4><%= @admin.name %></h4><br />
      <%= @admin.company_name %><br />
      <strong>League ID</strong> <%= @admin.league_id %><br />
      <!--      <strong>URL</strong>  <%= link_to admin_path(@admin), @admin %> -->
    </td>
  </tr>
</table>
