<li>
  <%= gravatar_for user, :size => 30 %>
  <%= link_to user.name, user %>,
  Company:<%= user.company_name %>,
  League id:<%= user.league_id %>
  <% if current_user.admin? %>
  <%= button_to "delete", user, :method=>:delete, :class=>:destroy, :confirm=>"Are you sure?" %>
<br>
  <% end %>
</li>

