<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h2>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h2>
      <h4>
  Company:<%= @user.company_name %>
  <br>
  League id:<%= @user.league_id %>        
      </h4>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
    </td>
  </tr>
</table>
